<h1>Règles de confidentalité</h1>
<h3>Données personnelles</h3>
<p>Depuis notre Application, nous ne collectons aucune donnée personnelle
 (par exemple: les noms, les adresses, les numéros de téléphone, les adresses de courrier 
 électronique ou les adresses IP complètes).</p>


 <h2>English</h2>
<h3>Privacy</h3>
 <p>
From our Application, we do not collect any personal data (for example, names, 
addresses, phone numbers, e-mail addresses or complete IP addresses).</p>